// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: IRANSansBold;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Black.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IRANSans/woff2/IRANSansWeb_Black.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IRANSans/woff/IRANSansWeb_Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IRANSans/ttf/IRANSansWeb_Black.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/IRANSans/eot/IRANSansWeb.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IRANSans/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IRANSans/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IRANSans/ttf/IRANSansWeb.ttf') format('truetype');
}

body {
    color: aliceblue;

    background-color: #8BC6EC;

    font-family: IRANSans, IRANSansBold serif;
}


.jum {
    padding: 30px 30px;
    padding-bottom: 220px;
    width: 90%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);

}

.tableh1 th {
    width: 30%;
    font-family: IRANSansBold, serif;
}

.icon {
    position: absolute;
    top: 18px;
    left: 88%;
    font-size: 20px;


}

.alert {
    display: none;
}

.btn1 {
    margin-bottom: 20px;
}

.dir-rtl {
    direction: rtl;
}

.table thead th {
    color: white;
}

.table td {
    color: white;
    vertical-align: middle;
}

.samll-bg {
    width: 45px;
    border-radius: 7px;
    margin-left: 6px;
}

.modal-content {
    color: black;
}

.form-control {
    text-align: right;
}

.loginForm {
    direction: rtl;

    h1 {
        text-align: right;
        color: black;
        margin-bottom: 20px
    }

    .form-group {
        text-align: right;
        color: black
    }
}

.alert {
    display: block !important;
    text-align: right
}

.dropdown-item {
    text-align: right;
}

.adminUserList {
    tr td {
        text-align: right;
        color: black;
    }

    th {
        color: black !important;
        text-align: right;
    }
}

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
    display: none;
}
.data-table-extensions-filter{
    float: right;
}
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.dropdown-menu{
    right: 0 !important;
    left: unset !important;
}
